[submodule "awesome"]
	path = awesome
	url = https://github.com/akshat46/perpetual-zen.git
[submodule "nvim"]
	path = nvim
	url = https://github.com/akshat46/nvim.git
[submodule "FlyingFox"]
	path = FlyingFox
	url = https://github.com/akshat46/FlyingFox.git
	branch = local_configs
