@import "global/variables.css";
@import "global/global.css";
@import "icons/icons.css";
@import "tabbar/tabbar.css";
@import "navbar/navbar.css";
@import "personalbar/personalbar.css";
@import "popup/popup.css";
@import "urlbar/urlbar.css";
@import "findbar/findbar.css";

:root {
  --adjust-ui-to-sidebar: 50px; 
  --sidebar-min-width: 250px;
  --sidebar-max-width: 300px;
  --toolbar-height: 0;
  --menubar-height: -40px;
  --toolmenubar-height: -40px; /* sum of previous two */
  --chrome-selection-background-color: #7310ff !important;
}

/* show bookmarks toolbar on new tab only */
#main-window #PersonalToolbar {
  visibility: collapse !important;
  z-index: 1!important;
  position: relative!important;
  margin-left: var(--adjust-ui-to-sidebar); /* shift toolbar to the right out of the way of the sidebar */
  margin-top: var(--toolbar-height) !important;
}

#main-window[title^="Firefox Developer Edition"] #PersonalToolbar {
  visibility: visible !important;
  margin-top: -1px !important;
}

/* lock sidebar to height by doing the inverse margin of the toolbar element */
#sidebar-box {
  z-index: 1000 !important;
  position: relative!important;
  margin-top: var(--menubar-height) !important;
  padding-top: calc(-1*var(--menubar-height));
  border-radius: 0 5px 0px 0;
  min-width: var(--adjust-ui-to-sidebar) !important;
  max-width: var(--adjust-ui-to-sidebar) !important;
}

/* inner and outer normal width */
#sidebar-box #sidebar {
    min-width: var(--sidebar-min-width) !important;
    max-width: var(--sidebar-min-width) !important;
    transform: translateX(calc(var(--adjust-ui-to-sidebar) - var(--sidebar-min-width))) !important;
    border-radius: 0 3px 0px 0;
    transition: all 0.2s ease-in-out;
}

/* inner and outer normal min/max width when hovered */
#sidebar-box #sidebar:hover {
    transform: translateX(0) !important;
    box-shadow: 2px 0 33px #28282F;
}

#main-window[title^="Firefox Developer Edition"] #sidebar-box {
  margin-top: var(--toolmenubar-height) !important;
}

/* hide sidebar header for tree style tabs sidebar */
#sidebar-box[sidebarcommand="treestyletab_piro_sakura_ne_jp-sidebar-action"] #sidebar-header {
  display: none;
}

/* Hide the title bar */
#titlebar{ visibility: collapse; }

/* hide normal horizontal tab bar */
#TabsToolbar { visibility: collapse; }

#sidebar { border-right: none !important; }

toolbar#nav-bar {
  padding-top: 12px;
  padding-bottom: 7px;
  margin-left: var(--adjust-ui-to-sidebar);
  padding-left: 7px;
  border: none !important;
}

toolbar{
  border: none !important;
}

/* Hide splitter, when using Tree Style Tab. */
#sidebar-box[sidebarcommand="treestyletab_piro_sakura_ne_jp-sidebar-action"] + #sidebar-splitter {
  display: none !important;
}

